<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs')%>

    <title>Document</title>
</head>
<body>
    <%- include('partials/header.ejs')%>
    <div class="container">
        <div class="main">
            <div class="main-content">
                <h2>Блоги по программированию</h2>
                <p>Популярные и лучшие публикации по программированию для начинающих
                    и профессиональных программистов и IT-специалистов.</p>
                <img src="/images/image1.png" alt="">
            </div>
            <div class="categories">
                <h3>Категории</h3>
                <a href="">Прогнозы в IT</a>
                <a href="">Веб-разработка</a>
                <a href="">Мобильная разработка</a>
            </div>
        </div>
    </div>
</body>
</html>