<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs')%>
    <script src="https://kit.fontawesome.com/235d4797a2.js" crossorigin="anonymous"></script>

    <title>Document</title>
</head>
<body>
    <header>
        <div class="head-logo">
            <a href="/">
                <h1>Decode Blog</h1>
            </a>
            
        </div>
        <div class="head-search">
            <input type="text" placeholder="Поиск по блогам">
            <button><svg class="styles_icon__1bYKL search-form-submit-button__icon" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M13.6667 8.74984C13.6667 11.4652 11.4654 13.6665 8.75002 13.6665C6.03462 13.6665 3.83335 11.4652 3.83335 8.74984C3.83335 6.03444 6.03462 3.83317 8.75002 3.83317C11.4654 3.83317 13.6667 6.03444 13.6667 8.74984ZM12.7965 14.5643C11.6494 15.3641 10.2545 15.8332 8.75002 15.8332C4.838 15.8332 1.66669 12.6619 1.66669 8.74984C1.66669 4.83782 4.838 1.6665 8.75002 1.6665C12.662 1.6665 15.8334 4.83782 15.8334 8.74984C15.8334 10.2544 15.3643 11.6494 14.5643 12.7966L17.9672 16.1994L16.1994 17.9672L12.7965 14.5643Z" fill="#000"></path></svg>Найти</button>
        </div>
        <div class="head-buttons">
            <img src="/images/profile-img.png" alt="">
        </div>
    </header>
    <div class="container">     
        <div class="main">
            <div class="main-content">
                <div class="main-inner">

                    <h2>Мои блоги</h2>
                    <button>Новый блог</button>
                </div>
                <img src="/images/image1.png" alt="">
                <div class="main-second-inner">
                    <h4>Обзор Report Manager от Webix</h4>
                    <i class="fa-solid fa-ellipsis-vertical">Ещё</i>
                </div>
                <h5>
                    Осень 2020 года стала плодотворным временем для специалистов Webix.
                </h5>
                <h5> 
                    Команда Webix выпустила восьмую версию библиотеки пользовательского интерфейса Webix с двумя новыми комплексными виджетами. Первый - зто Scheduler, о котором мы подробно говорили ранее. Второй виджет - это Gantt chart в JavaScript. Подробную информацию об этом виджете Вы можете найти в статье. 
                </h5>
                <h5>
                    Ноябрь продолжает тенденцию, и мы спешим поделиться с Вами новым комплексным виджетом Report Manager. Давайте рассмотрим его
                </h5>
                
                
                <div class="main-under-content">
                    <i class="fa-regular fa-calendar"></i>
                    <i class="fa-solid fa-comments"></i>
                    <i class="fa-solid fa-user"></i>
                </div>
                <h4>
                    Что такое комплексные виджеты Webix?
                </h4>
                <h5>
                    В отличие от обычных виджетов пользовательского интерфейса JavaScript, комплексные виджеты - это полноценные приложения, которые не требуют дополнительной настройки и кастомизации.
                </h5>
                <h5>
                    Они уже готовы к интеграции в Ваше бизнес-приложение, что позволяет экономить рабочее время 
                </h5>
                <h5>
                    Гибкая архитектура Webix позволяет легко настраивать эти приложения, расширять их функциональность и интегрировать в существующие решения.
                </h5>
                <h6>
                    2 комментариев
                </h6>
                <div class="comment">
                    <img src="/images/profile-img.png" alt="">
                    
                </div>
            </div>
            
            <div class="categories">
                <img src="/images/profile-img.png" alt="">
                <h3>Елнур Сейтжанов</h3>
                <p>В основном пишу про веб-разработку на React & Redux</p>
                <p>285 постов за всё время</p>
                <button>Редактировь</button>
            </div>
        </div>
    </div>
</body>
</html>